body,h1,ul,li,p{
    margin: 0;
    padding: 0;
	
}
html, body {   
	 height: 100%;    
	  font-size:80.5%;     
	  font-family:Arial, Helvetica, sans-serif; 
	}
#sayfa{    
	 min-height: 100%;    
	height: auto !important;  
	 height: 100%;    
		margin: 0 auto -4em;    
	 background: #635d5d;
		 }
#ust{
	width:auto;
	height: 120px;
	background: #9F1C1E;
}
#baslik{
	float: left;
	margin-left: 30px;
	margin-top: 45px;
    font-size: 1.2em;
    color: white;
    text-decoration: none;
}
#menu{
    float: left;
    list-style: none;
    margin-top: 2.5em;
}
#menu li{
    float: left;
}
#menu li a{
    color: white;
    text-decoration: none;
	margin-right: 20px;
	margin-left: 10px;
}
#orta-sol{
	width: 1300px;
	height: 570px;
	margin: 5px 0px 0px 0px;
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	text-align: justify;
	background: #635d5d;
	background-image: url(5.png);
	background-size: 1300px 570px;
	background-repeat: no-repeat;
}
#orta-sag{
	margin-top: 5px;
	margin-left:5px;
	float: left;
}
#orta-sag h3{
	margin: 100px;
	text-align: center;
	color: azure;
	font-size: 1.4em;
}

#alt{
	width: auto;
	background:#9F1C1E;
	text-align: center;
	margin-top: 5px;
	color: rgb(255, 255, 255);
}
.button {
  background-color: #9F1C1E;
  border: none;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}
.temizle{
	clear: both;
}
.logo {
	float: left;
	width: 100px;
	height: 50px;
	margin: 0px 0px;
}
